*{
	margin: 0;
	padding: 0;
}
.wrapper{
	width: 900px;
	height: 750px;
	margin: auto;

}
.header{
	width: 100%;
	height: 200px;
}
.header img {
	width: 100%;
	height: 200px;
}
.menu{
	width: 100%;
	height: 20px;
	background-color: red;
}
.menu ul{
	width: 100%;
	height: 20px;
	list-style: none;
}
.menu ul li{
	float: left;
	margin-right: 20px;
}
.menu ul li a{
	color: blue;
	text-decoration: none;
}
.menu a:hover{
	text-decoration: underline;
}
.content{
	width: 100%;
	height: 530px;
	background-color: yellow;
}
.content img{
	width: 200px;
	height: 150px;
}
.content ul li{
	width: 200px;
	list-style: none;
	float: left;
	margin: 20px 30px 20px 20px;
}
.content ul li a{
	text-align: center;
	text-decoration: none;

}

